@page "/"
@using Microsoft.Data.Sqlite
@using ToDoList.Models

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.


<button @onclick="() => dbtest()">test db</button>

<div>
    @if(success == true)
    {
        <a> DB CONNECTED</a>
    }
</div>

@code{

    public bool success = false;

    private void dbtest()
    {
        try
        {
            var path = Path.GetFullPath(AppDomain.CurrentDomain.BaseDirectory + $"\\..\\..\\..");

            using var connection = new SqliteConnection(@$"Data Source={path}\\tododatabase.db");
            connection.Open();
            success = true;
            Console.WriteLine("Connected to the SQLite database!");

        }
        catch (SqliteException ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}